<div class="comment">
	<%= comment.timestamp %><br>
  <strong>Who:</strong>
  <%= comment.commenter %><br>
  <strong>Comment:</strong>
  <%= comment.body %>
	<p>
	<%= link_to 'Delete', [comment.post, comment],
	             method: :delete,
	             :class=>'btn btn-warning btn-xs',
	             data: { confirm: 'Are you sure?' } %>
	</p>
</div>