<p id="notice"><%= notice %></p>
<div class="row" align="center">
	<div class="col-md-9">
		<div id="posts-container">
		  <div class="posts">
		    <%= render @posts %>
		  </div>
		</div>
	</div>
	<div class="col-md-3" >
		<p>User sign-in</p>
		<p>User admin</p>
		<p>.</p>
		<p>.</p>
		<p>.</p>
	</div>
</div>

<div id="infinite-scrolling">
  <%= paginate @posts %>
</div>