@import 'bootstrap';

body {
	background-image: image-url("background.jpg");
/*	background-repeat:no-repeat;*/
	background-attachment:fixed;
	background-position:center; 
}
h1 {
 font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; 
}
.post{
  background-color: #F2F2E3;
  border-radius: 5px;
  padding-bottom: 5px;
	margin-bottom: 5px;
}
.post-title{
	margin-left: 10px;
	text-align: justify;
  font-size: 28px;
}
.post-timestamp {
  text-align: justify;
}
.post-image img {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 500px;
}
.post-body{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom:  20px;
  padding-bottom: 1px;
  text-align:justify;
}
.post-comments {
  padding-left: 20px;
  background: #F2F2E3;
  margin-right: auto;
  border-radius: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  text-align: justify;
}
.show-btns{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  padding-left: 20px;
}
.alert {
	margin-top: 30px;
}